@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('imagens/shadowfundo.png');
    line-height: 1.6;
    color: #fff;
  }
  
  header {
    background-color: #242323;
    padding: 15px;
    text-align: center;
    height: 80px;
  }
  
  nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
   
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  .card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
  }
  
  .card h3 {
    color: #f05;
  }

  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    padding: 7px;
  }

  footer {
  background-color: rgba(0,0,0,0.5);
  color: #a50000;
  padding: 40px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  }
  
  .imagem {
    width: 22vh;
    height: 33vh;
    position: relative;
    border-radius: 1vh;
    margin-left: 13%;
  }

  @media (max-width: 600px) {
    iframe {
      width: 100%;
      height: auto;
    }
  }
  .banner {
    width: 210vh;
    max-width: 100%;
    height: 80vh;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }
  
  .slides {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 4.0s ease;
  }
  
  .slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }


  h1 {
    width: 100px;
    height: 15px;
  }
  .login {
    background-color: rgb(107, 0, 36);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    letter-spacing: 1px;
    margin-left: 160vh;
 
  }
  .registro {
    background-color: rgb(107, 0, 36);
    color: white;
    padding: 10px 20px;
    border: 5px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    letter-spacing: 1px;
   margin-left: 1vh;

  }
  .animes{
    margin-left: 83vh;
  }
  .navestilo {
    padding: 10px 20px;
    background-color: #1c1c1c;
    background-image: url('imagens/navestilo.png');
  }
  .footer-container {
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}

.logo span {
  color: #e50914; /* vermelho escuro estilo Netflix */
}

.footer-container p {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 20px;
}

.social-links a {
  color: #ccc;
  margin: 0 10px;
  font-size: 1.3rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #e50914;
}
